!!!
%html
  %head
    %title Blog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #nav
      .content.col-md-2.col-xs-2
        - if current_user
          %table.table.table-bordered
            %tr
              %th
                = link_to "Edit Profile", edit_user_path(current_user.id)
            %tr
              %th
                = link_to "Logout", :logout, method: :post
            %tr
              %th
                = link_to "All users", users_path
        - else
          %table.table.table-bordered
            %tr
              %th
                = link_to "Login", :login
            %tr
              %th
                = link_to "Register", new_user_path

    %div
      %p#notice= flash[:notice]
      %p#alert= flash[:alert]
    = yield
