%h1{align: 'center'} Users

- if flash[:notice]
  .row
    .content.col-md-4.col-md-offset-4
      .jumbotron{align: 'center'}
        .notice= flash[:notice]

%%table.table.table-striped
  %thead
    %tr
      %th Email
      %th Status
      %th Status
      %th Crypted password
      %th Salt
      %th{colspan: "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        - if user.activation_state == 'active'
          %td.bg-success= user.activation_state
        -else
          %td.bg-danger= user.activation_state
        - if user.admin == 1
          %td.bg-primary Admin
        -else
          %td.bg-success User
        %td= user.crypted_password
        %td= user.salt

        %td= link_to 'Show', admin_path(user.id), method: :get
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure you want to delete ' + user.email + '?'}
