.row
  .content.col-md-6.col-md-offset-3
    .month{style: "background: #{@calendar_service.current_month_color}"}
      %ul
        %li.prev
          = link_to '❮', calendar_path(date: @calendar_service.prev_month_start_date)
        %li.next
          = link_to '❯', calendar_path(date: @calendar_service.next_month_start_date)
        %li
          = @calendar_service.current_date.strftime('%B')
          %br/
          %span{style: 'font-size: 18px;'}= @calendar_service.current_date.year
    %ul.weekdays
      %li Mo
      %li Tu
      %li We
      %li Th
      %li Fr
      %li Sa
      %li Su
    %ul.days
      - (@calendar_service.current_month_dates.first.cwday-1).times do
        %li

      - @calendar_service.current_month_dates.in_groups_of(7, false).each do |week|
        - week.each do |date|
          %li
            - if @calendar_service.dates_w_tracking_data.include?(date)
              %span.active= link_to date.day, dashboard_path(date: date)
            - else
              = date.day
