= form_with(local: true, url: friends_path, method: :get) do |form|
  .row
    .col-md-4.col-md-offset-4
      %input.form-control{type: 'text', placeholder: 'example@gmail.com', id: 'email', name: 'email'}
  .field{align: 'center', style: 'margin-top: 15px;'}
    =form.submit 'Search!', class: 'btn btn-primary'

  - if flash[:notice]
    .row
      .content.col-md-4.col-md-offset-4
        .jumbotron{align: 'center'}
          .notice= flash[:notice]

  - if current_user.friends_pending.any?
    .row
      %h1{align: 'center'} You got some friend requests!
      .col-md-8.col-md-offset-2
        %table.table.table-striped
          %thead
            %tr
              %th
              %th email
              %th here since
              %th
          %tbody
            - current_user.friends_pending.each do |friend_id|
              %tr
                %td= image_tag (User.where(id: friend_id)[0].custom_avatar==nil ? User.where(id: friend_id)[0].avatar.thumb.url : User.where(id: friend_id)[0].custom_avatar_thumb)
                %td= User.where(id: friend_id)[0].email
                %td= User.where(id: friend_id)[0].created_at

                <!-- According to your choice ans is either 1 or 0 -->
                %td= link_to 'Accept', answer_friends_path(id: friend_id, ans: 1)
                %td= link_to 'Dismiss', answer_friends_path(id: friend_id, ans: 0)

  .row
    - if params[:email].present?
      %h1{align: 'center'} Search Results
      .col-md-8.col-md-offset-2
        %table.table.table-striped
          %thead
            %tr
              %th
              %th email
              %th here since
              %th
          %tbody
            - @friends.each do |friend|
              %tr
                %td= image_tag (friend.custom_avatar==nil ? friend.avatar.thumb.url : friend.custom_avatar_thumb)
                %td= friend.email
                %td= friend.created_at
                - if current_user.friends.include? friend.id
                  %td= link_to 'Delete', remove_friends_path(id: friend.id)
                  %td= link_to 'Calendar', calendar_path(id: friend.id)
                - else
                  %td= link_to 'Add', propose_friends_path(id: friend.id)
        - unless @friends.any?
          .col-md-6.col-md-offset-3
            .jumbotron{align: 'center'}
              %h3 There are no users with email like that :(
              %h3 Better luck next time!
    - else
      %h1{align: 'center'} Your Friends
      .col-md-8.col-md-offset-2
        %table.table.table-striped
          %thead
            %tr
              %th
              %th email
              %th tracks
              %th here since
              %th
          %tbody
            - @friends.each do |friend|
              %tr
                %td= image_tag (friend.custom_avatar==nil ? friend.avatar.thumb.url : friend.custom_avatar_thumb)
                %td= friend.email
                %td= Tracker.where(user_id: friend.id).length
                %td= friend.created_at
                %td= link_to 'Delete', remove_friends_path(id: friend.id)
                %td= link_to 'Calendar', calendar_path(id: friend.id)
