%tr{id: "group-#{paths.where(group: i).first.id}"}
  %td
    - if paths.last.group == -1
      Current
    - else
      #myModal.modal.fade{'aria-labelledby': 'mySmallModalLabel', role: 'dialog', tabindex: '-1'}
        .modal-dialog{role: 'document'}
          .modal-content
            .modal-header
              %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
                %span{'aria-hidden': 'true'} ×
              %h4#myModalLabel.modal-title{align: 'center'}
                Changing name...
            .modal-body
              .input_window{id: "inp-#{i}"}
                .form-group
                  %input.form-control{placeholder: 'Forest walk', id: "input_name#{i}"}
            .modal-footer
              %button.button1.btn.btn-danger{'data-dismiss': 'modal'}
                .glyphicon.glyphicon-remove{data: {'mydata': "#{i}", 'track': "#{paths.where(group: i).first.id}"}}
              %button.button2.btn.btn-success.glyphicon.glyphicon-ok{'data-dismiss': 'modal', data: {'mydata': "#{i}", 'track': "#{paths.where(group: i).first.id}"}}

      .hover_text{id: "#{i}"}
        - if !paths.where(group: i).first.custom_name.present?
          Group #{i - paths.first.group + 1}
        - else
          =paths.where(group: i).first.custom_name
        .wrapper_cart
          .cartouche{data: {'mydata': "#{i}", 'track': "#{paths.where(group: i).first.id}"}}
            %button.btn.btn-primary{"data-target" => "#myModal", "data-toggle" => "modal", "data-whatever" => "#{i}", :type => "button"}
              Open modal
  %td= paths.where(group: i).first.created_at
  %td= paths.where(group: i).last.created_at
