- if params[:date].present?
  #main-container.container-fluid{data: {list: @paths.to_json}}
  %script{async: '', defer: 'defer',
    :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBBJehlZdShzoTdNZUNrMncq9G4kK8y7cw&callback=initMap"}
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
  :javascript
    $(document).ready(function(){
      number = 0;
      id = 0;

      $(document).on('click', '.cartouche', function(e) {
        number = $(this).data('mydata');
        element = document.getElementById(number);
        $(element).hide();
        element = document.getElementById("inp-" + number);
        $(element).show();
        id = $(this).data('track');
      });

      $(document).on('click', '.button1', function(e) {
        $.post("/api/tracker/" + id + "/change_group",
        {
            group_name: document.getElementById("input_name" + number).value
        });
        element = document.getElementById("inp-" + number);
        $(element).hide();
        element = document.getElementById(number);
        $(element).show();
      }, null, 'js');

      $(document).on('click', '.button2', function(e) {
        element = document.getElementById("inp-" + number);
        $(element).hide();
        element = document.getElementById(number);
        $(element).show();
      });
    });
  .row
    .content.col-md-5.col-md-offset-1
      %h1
        ="#{@from.day} #{@from.strftime("%B")} #{@from.year}"
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Name
            %th Start
            %th End
        %tbody
          - for i in @paths.first.group..@paths.last.group
            = render partial: 'table', locals: {i: i}

    #map
- else
  - if flash[:notice]
    .row
      .content.col-md-4.col-md-offset-4
        .jumbotron{align: 'center'}
          .notice= flash[:notice]
  - else
    #main-container.container-fluid{data: {way: @today.to_json}}
      .row
        .content.col-md-4
          .jumbotron{align: 'center'}
            = image_tag (current_user.avatar.medium.url)
            .p{style: 'margin-top: 15px;'}
              = link_to 'My Calendar', calendar_path, {class: 'button'}
            %hr.my-1/
            %h3= "Email: #{current_user.email}"
            %h3= "Here since: #{current_user.created_at.day.to_s}-#{current_user.created_at.month.to_s}-#{current_user.created_at.year.to_s}"
            %h3= "Your token: #{current_user.tracker_token}"
            = link_to '(generate new token)', profile_generate_token_path
        .content.col-md-8
          .jumbotron{align: 'center'}
            %h1 GPS Tracker
            %p Welcome back to our cool web-site!
          %h1{align: 'center'}
            #number
